<div data-mobile-menu-target="dropdown"
     class="-right-full w-7/12 px-6 sm:px-8 md:px-16 lg:px-20 h-screen absolute top-0
            bg-gradient-to-bl from-bg-base to-neutral-300 dark:to-gray-800 shadow-xl dark:shadow-neutral-900
            space-y-8 transition-[right] ease-in-out duration-500" id="mobile-menu">
  <ul class="w-full tracking-wider text-right text-lg md:text-xl pt-20 sm:pt-32 pb-10 whitespace-nowrap font-poppins font-light">
    <li class="py-2 md:py-3 side-menu-fade-in" style="transition-delay: 100ms;">
      <%= link_to 'Home', root_path, class: "inline-block w-full"%>
    </li>
    <li class="py-2 md:py-3 side-menu-fade-in" style="transition-delay: 250ms;">
      <%= link_to 'Blog', blog_path, class: "inline-block w-full"%>
    </li>
    <li class="py-2 md:py-3 side-menu-fade-in" style="transition-delay: 400ms;">
      <%= link_to 'About', about_path, class: "inline-block w-full"%>
    </li>
    <li class="py-2 md:py-3 side-menu-fade-in" style="transition-delay: 700ms;">
      <%= link_to 'Contact', contact_path,
                  class: "#{'py-1.5 pr-3 border-r-4 border-primary text-primary font-semibold' if current_page? contact_path }",
                              class: "inline-block w-full"%>
    </li>
  </ul>
  <div class="flex w-full justify-around side-menu-fade-in" style="transition-delay: 850ms;">
    <% social_links.each do |link| %>
      <%= render 'shared/icon_link', link: link[:url], icon_name: link[:name], size: 'h-6 w-6' %>
    <% end %>
  </div>
</div>