<div data-nav-target="navbar"  style="transition: padding 0.3s ease-in-out;"
     class="text-based tracking-wider px-6 sm:px-8 md:px-16 lg:px-20
            <%= current_page?(root_path) ? 'animate-nav-load' : 'py-3 md:py-6' %> ">
  <div class="flex justify-between xl:justify-around items-center mx-auto">
    <div class="after:bg-primary hover-fade-in <%= 'animate-nav-link-load opacity-0' if current_page? root_path %>"
         style="animation-delay: var(--nav-load-time);">
      <%= render 'shared/button_with_translate', { translate: "hover:-translate-y-1" } do %>
        <%= link_to root_path(anchor: 'home') do %>
          <%= image_tag 'icons/wolf-with-moon-64.ico', class: 'h-10 md:h-12' %>
        <% end %>
      <% end %>
    </div>

    <div class="hidden lg:flex items-center space-x-4 text-md lg:space-x-8">
      <%= render 'shared/button_with_translate', { translate: "hover:-translate-y-0.5" } do %>
        <%= render 'layouts/nav/header', { label: '01.', title: 'About', route: '#about', delay: '300ms' } %>
      <% end %>
      <%= render 'shared/button_with_translate', { translate: "hover:-translate-y-0.5" } do %>
        <%= render 'layouts/nav/header', { label: '02.', title: 'Experience', route: '#experience', delay: '400ms' } %>
      <% end %>
      <%= render 'shared/button_with_translate', { translate: "hover:-translate-y-0.5" } do %>
        <%= render 'layouts/nav/header', { label: '03.', title: 'Projects', route: '#projects', delay: '500ms' } %>
      <% end %>
      <%= link_to 'Contact', contacts_path, class: "btn btn-tertiary #{'animate-nav-link-load opacity-0' if current_page? root_path}", style: "animation-delay: calc(var(--nav-load-time) + 600ms);"%>
    </div>

    <div class="flex space-x-4">
      <button title="Toggle color scheme" data-action="click->nav#toggleTheme" type=button>
        <%= render 'layouts/nav/feather_moon' %>
        <%= render 'layouts/nav/feather_sun' %>
      </button>
      <div class="lg:hidden">
        <%= render 'layouts/nav/navbar/mobile_menu_button' %>
      </div>
    </div>


  </div>
</div>