<div class="bg-white text-gray-900 dark:bg-gray-900 dark:text-white w-full px-6 md:px-12 py-5">
  <div class="flex justify-between items-center mx-auto">
    <div class="flex items-center">
      <%= link_to '#home' do %>
        <i class="fab fa-wolf-pack-battalion fa-3x text-purple-400 hover:text-purple-200"></i>
      <% end %>
    </div>
    <div class="flex items-center space-x-2 md:space-x-6">
      <%= render 'shared/transition_up_button', { route: '#about', classes: "nav-header pb-2" } do %>
        <%= render 'layouts/nav/header', { label: '01.', title: 'About' } %>
      <% end %>
      <%= render 'shared/transition_up_button', { route: '#what-i-do', classes: "nav-header pb-2" } do %>
        <%= render 'layouts/nav/header', { label: '02.', title: 'What I do' } %>
      <% end %>
      <%= render 'shared/transition_up_button', { route: '#contact', classes: "pb-1" } do %>
        <span class="btn-purple">Contact</span>
      <% end %>
    </div>
  </div>
</div>