<div class="w-full h-full justify-between items-center">

  <div class="grid lg:grid-cols-2 gap-y-12 mt-4">
    <div class="space-y-6">
      <%= render 'portfolio/pages/section_header', { label: "01", title: "About Me"}%>
      <div class="flex flex-col space-y-4 text-muted text-base md:text-lg text-left">
        <p class="fade-in">Hello! My name is Ryan, I am a full-stack software engineer with a passion for learning and solving problems.</p>
        <p class="fade-in">
          I began my career doing low-level programming with
          <span>
            <%= link_to 'embedded', 'https://www.gpssource.com/collections/apnt/products/ed3-global-positioning-system-developer-kit', target: '_blank', class: "accent-text" %>
          </span>
          <span>
            <%= link_to 'systems', 'https://gdmissionsystems.com/products/cross-domain-solutions/tacds-tactical-cross-domain-solution', target: '_blank', class: "accent-text" %>.
          </span>
          After a few years I transitioned to web development, where I found a passion for building digital experiences.
        </p>
        <p class="fade-in" data-mobile-menu-target="about">
          Currently, I am a senior software development engineer at
          <span>
            <%= link_to 'StrongMind', 'https://www.strongmind.com/', target: '_blank', class: "accent-text" %>.
          </span>
          where I focus on building innovative solutions to educational challenges.
          I also do freelance work, where I help people bring their ideas to life on the web.
        </p>
      </div>
      <div class="flex space-y-6 flex-col sm:flex-row text-muted sm:items-center justify-around">
        <%= render 'portfolio/pages/skills' %>
        <div class="flex justify-center items-center fade-in lg:hidden">
          <%= render 'portfolio/pages/about_me_picture' %>
        </div>
      </div>
    </div>
    <div class="hidden lg:flex justify-center items-center fade-in">
      <%= render 'portfolio/pages/about_me_picture' %>
    </div>
  </div>
</div>