<div class="mx-auto px-5 w-full text-based max-w-md mt-20 md:mt-28 min-h-with-footer py-5">
  <div>
    <h3 class="font-semibold text-5xl sm:text-7xl fade-in text-center text-based">Thanks!</h3>
    <p class="fade-in text-center text-muted py-5" style="transition-delay: 400ms;">Message received.  If you had a question or inquiry, I will get back to you as soon as I can.</p>
  </div>
  <div class="flex justify-around space-x-12 fade-in py-5 md:py-10" style="transition-delay: 800ms;">
    <%= render 'shared/button_with_translate', { translate: "hover:-translate-y-1" } do %>
      <%= link_to 'https://github.com/RyanJWolfe', :target => '_blank', class: "text-gray-900 dark:text-gray-400 hover:text-purple-700 dark:hover:text-purple-400" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
          <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
        </svg>
      <% end %>
    <% end %>

    <%= render 'shared/button_with_translate', { translate: "hover:-translate-y-1" } do %>
      <%= link_to 'https://www.linkedin.com/in/ryan-wolfe-64652a115/', :target => '_blank', class: "text-gray-900 dark:text-gray-400 hover:text-purple-700 dark:hover:text-purple-400" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
      <% end %>
    <% end %>

    <%= render 'shared/button_with_translate', { translate: "hover:-translate-y-1" } do %>
      <%= link_to 'https://www.instagram.com/theryanwolfe/', :target => '_blank', class: "text-gray-900 dark:text-gray-400 hover:text-purple-700 dark:hover:text-purple-400" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>
      <% end %>
    <% end %>

    <%= render 'shared/button_with_translate', { translate: "hover:-translate-y-1" } do %>
      <%= link_to 'https://www.youtube.com/watch?v=dQw4w9WgXcQ', :target => '_blank', class: "text-gray-900 dark:text-gray-400 hover:text-purple-700 dark:hover:text-purple-400" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
      <% end %>
    <% end %>
  </div>
  <div class="py-5">
    <%= link_to 'Back to Home', root_path, class: 'btn btn-primary w-full text-center fade-in', style: 'transition-delay: 1200ms;' %>
  </div>
</div>