<section id="home" data-nav-target="homeSection" class="section">
  <%= render 'portfolio/pages/home' %>
</section>
<section id="about" class="section h-min py-10 md:py-24">
  <%= render 'portfolio/pages/about' %>
</section>
<section id="what-i-do" class="experience-section h-min py-10 md:py-24">
  <%= render 'portfolio/pages/experience' %>
</section>
<section id="projects" class="section h-min py-10 md:py-24">
  <%= render 'portfolio/pages/projects' %>
</section>
<section id="contact" class="contact-section py-10 md:py-24">
  <%= render 'portfolio/pages/contact' %>
</section>
