<section id="home" class="section">
  <%= render 'portfolio/pages/home' %>
</section>
<section id="about" class="section h-min pb-16 max-w-2xl lg:max-w-5xl">
  <%= render 'portfolio/pages/about' %>
</section>
<section id="projects" class="experience-section h-min py-32">
  <%= render 'portfolio/pages/projects' %>
</section>
<section id="hire-me" class="section h-min py-16 md:py-24 max-w-2xl lg:max-w-3xl">
  <%= render 'portfolio/pages/hire_me' %>
</section>
<section id="contact" class="contact-section py-16 md:py-24 max-w-2xl">
  <%= render 'portfolio/pages/contact' %>
</section>
