<section id="home" data-nav-target="homeSection" class="section">
  <%= render 'portfolio/pages/home' %>
</section>
<section id="about" class="section">
  <%= render 'portfolio/pages/about' %>
</section>
<section id="what-i-do" class="experience-section">
  <%= render 'portfolio/pages/experience' %>
</section>
<section id="projects" class="section">
  <%= render 'portfolio/pages/projects' %>
</section>
<section id="contact" class="contact-section">
  <%= render 'portfolio/pages/contact' %>
</section>
