<div class="flex flex-col items-center space-y-4 md:space-y-8 p-4">
  <i class="fas fa-pencil-ruler fa-2xl md:fa-4x text-purple-700 dark:text-purple-400"></i>
  <h2 class="font-bold text-xl md:text-2xl text-black dark:text-white">System Architect</h2>
  <p class="text-gray-600 dark:text-gray-400 tetext-md md:text-lg">
    I value simple code structure, clean design patterns, and thoughtful solutions.
  </p>
</div>
<div class="flex flex-col items-center space-y-3">
  <h3 class="text-purple-700 dark:text-purple-400 text-md md:text-lg">Principles I follow</h3>
  <span class="text-gray-800 dark:text-gray-200 text-md md:text-lg">
    <%= render "shared/text_link", { text: "The Pragmatic Programmer", route: "https://pragprog.com/titles/tpp20/the-pragmatic-programmer-20th-anniversary-edition/" } %>
  </span>
</div>
<div class="flex flex-col items-center space-y-3 text-md md:text-lg text-gray-800 dark:text-gray-200">
  <h3 class="text-purple-700 dark:text-purple-400">Design patterns</h3>
  <%= render "shared/text_link", { text: "Don't repeat yourself (DRY)", route: "https://en.wikipedia.org/wiki/Don%27t_repeat_yourself" } %>
  <%= render "shared/text_link", { text: "Test-driven development (TDD)", route: "https://www.agilealliance.org/glossary/tdd" } %>
  <%= render "shared/text_link", { text: "Red, Green, Refactor", route: "https://www.codecademy.com/article/tdd-red-green-refactor" } %>
  <span>Model-View-Controller (MVC)</span>
  <span>Event-driven architecture (EDA)</span>
  <%= render "shared/text_link", { text: "Self-documenting code", route: "https://itnext.io/tips-for-writing-self-documenting-code-e54a15e9de2" } %>
  <%= render "shared/text_link", { text: "SOLID", route: "https://en.wikipedia.org/wiki/SOLID" } %>
</div>
