<!DOCTYPE html>
<html class="overflow-hidden">
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8661081514.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="nav">
    <%= render 'layouts/nav/navbar' %>
    <main data-action="wheel@window->nav#onWheel keyup@window->nav#onKeyup"
          class="w-full h-screen scroll-smooth snap-mandatory snap-y overflow-auto">
      <%= yield %>
    </main>
  </body>
</html>
