<!DOCTYPE html>
<html class="theme-dark dark scroll-smooth" lang="en">
  <head>
    <title>Ryan Wolfe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_tag type: 'application/javascript' do %>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      localStorage.theme = 'dark'
      } else {
      document.documentElement.classList.remove('theme-dark')
      document.documentElement.classList.remove('dark')
      localStorage.theme = 'light'
      }
    <% end %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'icons/wolf.ico' %>
  </head>

  <body class="bg-base" data-controller="nav mobile-menu">
    <header id="navbar"
            class="top-0 fixed z-50 w-full bg-base/90 backdrop-blur "
            style="transition: top 0.3s ease, box-shadow 0.3s ease-in-out"
            data-nav-target="header">
      <%= render 'layouts/nav/navbar' %>
    </header>
    <%= render 'layouts/nav/sidebar' %>
    <main data-action="keyup@window->nav#onKeyup click->mobile-menu#hide"
          class="relative w-full text-based overflow-auto background-transition">
      <%= yield %>
      <%= render 'layouts/nav/footer' %>
    </main>
  </body>
</html>
