<!DOCTYPE html>
<html class="dark overflow-hidden" lang="en">
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8661081514.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/eva-icons"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'icons/wolf.ico' %>
  </head>

  <body data-controller="nav mobile-menu" data-action="click->mobile-menu#hide">
    <header id="navbar"
            class="top-0 fixed z-50 w-full"
            style="transition: all 0.3s;"
            data-nav-target="navbar"
            data-action="mouseover->nav#onHover">
      <%= render 'layouts/nav/navbar' %>
    </header>
    <%= render 'layouts/nav/sidebar' %>
    <main data-action="wheel@window->nav#onWheel keyup@window->nav#onKeyup"
          class="relative w-full h-screen bg-neutral-100 dark:bg-gray-900 text-black dark:text-white scroll-smooth md:snap-mandatory snap-y overflow-auto background-transition">
      <%= yield %>
    </main>
  </body>
</html>
